.green-salad1 {
    left: calc(50% - 240px);
}
.rectangle-parent {
    font-size: 38px;
}
/* below 700*/
@media (max-width: 700px){
    .green-salad1 {
        left: calc(50% - 155px);
        font-size: 42px;
    }
    .rectangle-parent {
        font-size: 21px;
    }
}