body {
    margin: 0;
    line-height: normal;
}

a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
  }
  
:root {
    
    /* Fonts */
    --font-poppins: Poppins;
    --font-roboto: Roboto;
    
    /* font sizes */
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    
    /* Colors */
    --color-darkslategray: #38664c;
    
    /* Paddings */
    --padding-31xl: 50px;
    
    /* Figma Variables */
    
    /* Color Variables */
    --b2b2b: #2b2b2b;
    --color: #575757;
    --fb9333: #fb9333;
    
}