/*900  to 700*/
@media (max-width: 900px) and (min-width: 700px) {
    .feature {
        position: relative;
        line-height: 22px;
        font-weight: 600;
        color: var(--fb9333);
    }
    .menu {
        position: absolute;
        top: 0px;
        left: 0px;
        line-height: 150%;
    }
    .address {
        width: 45px;
        position: relative;
        height: 24px;
    }
    .email {
        width: 53px;
        position: relative;
        height: 24px;
    }
    .phone {
        width: 66px;
        position: relative;
        height: 24px;
    }
    .phone1 {
        width: 71px;
        position: relative;
        height: 24px;
    }
    .section-4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
    }
    .gaur-city- {
        position: absolute;
        top: 1px;
        left: 40px;
        line-height: 150%;
    }
    .communication-location-on {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    .address1 {
        width: 226px;
        position: relative;
        height: 25px;
    }
    .email1 {
        width: 274px;
        position: relative;
        height: 25px;
    }
    .instagram-2-1 {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
    .the-freshleaf {
        position: absolute;
        top: 0px;
        left: 38px;
        line-height: 150%;
    }
    .instagram-2-1-parent {
        width: 146px;
        position: relative;
        height: 25px;
    }
    .phone2 {
        width: 155px;
        position: relative;
        height: 25px;
    }
    .section-02 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 23px;
    }
    .section-03-child {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 24.5px;
        height: 24px;
    }
    .section-03 {
        width: 24.5px;
        position: relative;
        height: 24px;
    }
    .footer {
        position: absolute;
        width: 56.57%;
        top: 2961px;
        right: 37%;
        left: 6.43%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--padding-31xl) var(--padding-116xl) var(--padding-31xl) 0px;
        box-sizing: border-box;
        gap: 228px;
        font-size: var(--font-size-base);
    }
    .fresh-leaf {
        position: relative;
    }
    .healthy-tasty {
        margin: 0;
    }
    .healthy-tasty-container {
        position: relative;
        font-size: var(--font-size-base);
        line-height: 160%;
        font-family: var(--font-poppins);
        color: var(--color);
    }
    .fresh-leaf-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 19px;
    }
    .copyright-fresh-leaf {
        position: relative;
        font-size: var(--font-size-base);
        line-height: 150%;
        font-family: var(--font-poppins);
        color: var(--b2b2b);
    }
    .section-01 {
        position: absolute;
        top: 3291px;
        left: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 29px;
        font-size: var(--font-size-5xl);
        color: var(--color-black);
        font-family: var(--font-roboto);
    }
    .frame-child {
        position: absolute;
        top: -31px;
        left: -10px;
        border-radius: var(--br-31xl);
        background-color: var(--color-darkslategray);
        width: 1170px;
        height: 550px;
    }
    .subscribe-inner {
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0%;
        left: 0%;
        height: 552px;
    }
    .enter-your-email {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 140%;
        opacity: 0.7;
    }
    .enter-your-email-address-wrapper {
        margin: 0 !important;
        position: absolute;
        top: 17.5px;
        left: 31px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--padding-3xs);
        z-index: 0;
    }
    .subscribe2 {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 140%;
        font-weight: 500;
    }
    .subscribe-wrapper {
        width: 170px;
        margin: 0 !important;
        position: absolute;
        top: 8px;
        right: 11.4px;
        border-radius: var(--br-81xl);
        background-color: var(--color-darkslategray);
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: var(--padding-3xs) 16px;
        box-sizing: border-box;
        z-index: 1;
        color: var(--ffffff);
    }
    .frame-group {
        width: 100%;
        margin: 0 !important;
        position: absolute;
        top: 274px;
        right: 0%;
        left: 0%;
        box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
        border-radius: var(--br-81xl);
        background-color: var(--ffffff);
        height: 80px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-3xs) 8px var(--padding-3xs) 31px;
        box-sizing: border-box;
        gap: var(--gap-0);
        z-index: 0;
    }
    .we-recommended-you-container {
        width: 465px;
        position: absolute;
        margin: 0 !important;
        top: 144px;
        left: calc(50% - 232.2px);
        letter-spacing: -0.02em;
        line-height: 160%;
        font-weight: 500;
        display: inline-block;
        height: 52px;
        flex-shrink: 0;
        opacity: 0.7;
        z-index: 0;
    }
    .our-subscribe {
        width: 450px;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 180%;
        font-weight: 500;
        display: inline-block;
    }
    .subscribe-to-get-container {
        position: relative;
        font-size: var(--font-size-13xl);
        letter-spacing: -0.02em;
        line-height: 140%;
        font-weight: 600;
    }
    .our-subscribe-parent {
        width: 100%;
        margin: 0 !important;
        position: absolute;
        top: 0px;
        right: 0%;
        left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 1;
        font-size: var(--font-size-xl);
    }
    .we-recommended-you-to-subscrib-parent {
        width: 93.57%;
        margin: 0 !important;
        position: absolute;
        top: 0px;
        right: 3.21%;
        left: 3.21%;
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        z-index: 1;
        font-size: var(--font-size-base);
        color: var(--color-lightyellow);
    }
    .frame-parent {
        position: absolute;
        width: 59.82%;
        top: 48px;
        right: 20.09%;
        left: 20.09%;
        height: 406px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 80px;
    }
    .subscribe1 {
        width: 81.25%;
        position: absolute;
        margin: 0 !important;
        top: 100px;
        right: 9.38%;
        left: 9.38%;
        height: 552px;
        z-index: 0;
    }
    .subscribe {
        position: absolute;
        top: 2339px;
        left: calc(50% - 559.5px);
        width: 1120px;
        height: 752px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 100px var(--padding-116xl);
        box-sizing: border-box;
        text-align: center;
        font-size: var(--font-size-lg);
    }
    .plans-child {
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        position: absolute;
        margin: 0 !important;
        bottom: 42px;
        border-radius: var(--br-31xl);
        max-width: 100%;
        overflow: hidden;
        height: 596px;
        flex-shrink: 0;
        z-index: 0;
    }
    .subscription-plans {
        width: 65.46%;
        position: absolute;
        margin: 0 !important;
        top: 64px;
        left: 17.31%;
        letter-spacing: -0.02em;
        line-height: 140%;
        font-weight: 600;
        display: inline-block;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3), -1px 0 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    .plans {
        position: absolute;
        width: 96.33%;
        top: 1787px;
        right: 1.8%;
        left: 1.88%;
        height: 680px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-0);
        text-align: center;
        font-size: var(--font-size-29xl);
        color: var(--color-darkslategray);
    }

    .green-salad {
        align-self: stretch;
        position: relative;
        line-height: 130%;
        font-weight: 500;
    }
    .rupee-icon {
        width: 35px;
        position: relative;
        max-height: 100%;
        object-fit: cover;
    }
    .b {
        position: relative;
        line-height: 130%;
        white-space: pre-wrap;
        margin-left: -24px;
    }
    .rupee-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        font-size: var(--font-size-13xl);
    }
    .green-salad-parent {
        position: absolute;
        width: 78.35%;
        top: calc(50% + 84.61px);
        right: 10.83%;
        left: 10.83%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-7xs);
    }
    .menu-1 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
    }
    .menu-1-wrapper {
        width: 27.97%;
        position: absolute;
        margin: 0 !important;
        height: 100%;
        top: 0%;
        right: 67.07%;
        bottom: 0%;
        left: 4.96%;
        z-index: 0;
    }

    .rupee-group {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-size: var(--font-size-13xl);
    }
    .air-fried-peanut-chaat-parent {
        position: absolute;
        height: 16.09%;
        width: 77.87%;
        top: 76.16%;
        right: 11.19%;
        bottom: 7.75%;
        left: 10.93%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-7xs);
    }
    .menu-2-wrapper {
        width: 27.97%;
        position: absolute;
        margin: 0 !important;
        height: 99.81%;
        top: 0.19%;
        right: 36.01%;
        bottom: 0%;
        left: 36.01%;
        z-index: 1;
    }
  
    .b2 {
        position: relative;
        line-height: 130%;
        white-space: pre-wrap;
        margin-left: -30px;
    }
    .rupee-container {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-size: 40px;
    }
    .sprouts-bowl-parent {
        position: absolute;
        height: 16.14%;
        width: 60.55%;
        top: 76.15%;
        right: 20.33%;
        bottom: 7.71%;
        left: 19.12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-7xs);
    }
    .menu-3-wrapper {
        width: 27.97%;
        position: absolute;
        margin: 0 !important;
        height: 99.81%;
        top: 0.19%;
        right: 4.8%;
        bottom: 0%;
        left: 67.22%;
        z-index: 2;
    
    }
    .frame-container {
        position: absolute;
        width: 100.78%;
        top: 1346px;
        right: -0.39%;
        left: -0.39%;
        height: 364.3px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 40px;
        max-width: 1645.24px;
        max-height: 660px;
        text-align: center;
        font-size: var(--font-size-5xl);
        color: var(--color-black);
        overflow: visible;
    }
    .discounts {
        color: var(--color-darkslategray);
    }
    .available-on {
        color: var(--color-dimgray-100);
    }
    .discounts-available-on {
        font-weight: 600;
    }
    .zomato-swiggy {
        font-family: var(--font-poppins);
        color: #ffbe00;
    }
    .enjoy-the-best-container {
        position: absolute;
        width: 88.12%;
        top: 1196px;
        left: 5.16%;
        font-size: var(--font-size-13xl);
        letter-spacing: -0.02em;
        line-height: 140%;
        text-align: center;
        display: inline-block;
        height: 81.2px;
        color: var(--color-dimgray-100);
    }
    .why-choose-us-for-container {
        width: 50.09%;
        position: absolute;
        margin: 0 !important;
        top: 19px;
        left: 2.76%;
        letter-spacing: -0.02em;
        line-height: 140%;
        font-weight: 600;
        display: inline-block;
        z-index: 0;
    }
    .we-continue-to {
        width: 38.46%;
        position: absolute;
        margin: 0 !important;
        top: 20px;
        left: 61.54%;
        font-size: var(--font-size-5xl);
        letter-spacing: -0.02em;
        line-height: 180%;
        font-weight: 500;
        color: #636363;
        text-align: center;
        display: inline-block;
        z-index: 1;
    }
    .why-choose-us-for-your-healthy-parent {
        position: absolute;
        width: 88.12%;
        top: 735px;
        right: 6.72%;
        left: 5.16%;
        height: 172px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 134px;
        color: var(--color-dimgray-100);
    }
    .skip-the-diet-container {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 130%;
    }
    .imagine-you-dont-container {
        width: 415px;
        position: relative;
        font-size: var(--font-size-xl);
        letter-spacing: -0.02em;
        line-height: 160%;
        font-weight: 500;
        color: #5a5a5a;
        display: inline-block;
    }
    .lady-side {
        position: absolute;
        height: calc(100% - 3308px);
        width: 46.09%;
        top: 309px;
        right: 48.52%;
        bottom: 2999px;
        left: 5.39%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        font-size: 42px;
    }
    .lady-icon {
        position: absolute;
        width: 45.53%;
        top: 155px;
        right: -0.37%;
        left: 54.84%;
        max-width: 100%;
        overflow: hidden;
        height: 409px;
        object-fit: contain;
    }
    .logo-icon {
        position: absolute;
        top: 21px;
        left: 24px;
        width: 269px;
        height: 94px;
        object-fit: cover;
    }
    .menu1 {
        position: relative;
        line-height: 130%;
        font-weight: 500;
    }
    .home {
        position: relative;
        line-height: 130%;
        color: var(--color-darkslategray);
    }
    .menu-header {
        position: absolute;
        top: 48px;
        left: 385px;
        width: 345px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--padding-3xs);
        box-sizing: border-box;
        gap: 34px;
        font-size: var(--font-size-base);
    }
    .main-div {
        width: 100%;
        position: relative;
        background-color: var(--ffffff);
        height: 3505px;
        overflow: hidden;
        text-align: left;
        font-size: var(--font-size-29xl);
        color: var(--color);
        font-family: var(--font-poppins);
    }
    
    
}
