body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Fonts */
    --font-poppins: Poppins;
    --font-roboto: Roboto;
    
    /* font sizes */
    --font-size-2xs: 11px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-11xl: 30px;
    --font-size-17xl: 36px;
    
    /* Colors */
    --color-darkslategray-100: #38664c;
    --color-darkslategray-200: #434343;
    --color-gainsboro: #d9d9d9;
    --color-orange: #ffbe00;
    --color-white: #fff;
    --color-whitesmoke: #eaeaea;
    
    /* Paddings */
    --padding-3xs: 10px;
    --padding-base: 16px;
    --padding-31xl: 50px;
    
    /* Border radiuses */
    --br-35xl: 54px;
    --br-81xl: 100px;
    
    /* Figma Variables */
    
    /* Color Variables */
    --b2b2b: #2b2b2b;
    --color: #575757;
    --fb9333: #fb9333;
    
}