/*1280  to 700*/
@media (max-width: 1280px) and (min-width: 700px) {

.logo-icon {
    position: absolute;
    top: 21px;
    left: calc(50% - 135px);
    width: 269px;
    height: 94px;
    object-fit: cover;
}
.gradient {
    position: absolute;
    width: calc(100% + 115px);
    right: -92px;
    bottom: 299px;
    left: -23px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0), rgba(186, 224, 203, 0.3));
    height: 857px;
}
.pay-on-delivery {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 800;
}
.pay-on-delivery-frame {
    position: absolute;
    top: 1696px;
    left: calc(50% - 68px);
    border-radius: var(--br-81xl);
    background-color: var(--color-orange);
    width: 309px;
    height: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-base);
    box-sizing: border-box;
}
.pay-now-frame {
    position: absolute;
    top: 1574px;
    left: calc(50% - 69px);
    border-radius: var(--br-81xl);
    background-color: var(--color-orange);
    width: 309px;
    height: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-base);
    box-sizing: border-box;
}
.home {
    position: relative;
    line-height: 130%;
    font-weight: 500;
}
.menu {
    position: relative;
    line-height: 130%;
    color: var(--color-darkslategray-100);
}
.menu-header {
    position: absolute;
    top: 138px;
    left: calc(50% - 211px);
    width: 422px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    gap: 56px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color);
}
.choose-yours {
    position: absolute;
    top: 230px;
    left: calc(50% - 219px);
    font-size: 64px;
    letter-spacing: -0.02em;
    line-height: 130%;
    text-align: left;
}
.fresh-leaf {
    position: relative;
}
.healthy-tasty {
    margin: 0;
}
.healthy-tasty-container {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 160%;
    font-family: var(--font-poppins);
    color: var(--color);
}
.fresh-leaf-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
}
.copyright-fresh-leaf {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 150%;
    font-family: var(--font-poppins);
    color: var(--b2b2b);
}
.section-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 67px;
    font-size: var(--font-size-5xl);
    color: #000;
    font-family: var(--font-roboto);
}
.feature {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    color: var(--fb9333);
}
.address {
    width: 45px;
    position: relative;
    height: 24px;
}
.promo {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
}
.email {
    width: 53px;
    position: relative;
    height: 24px;
}
.phone {
    width: 66px;
    position: relative;
    height: 24px;
}
.phone1 {
    width: 71px;
    position: relative;
    height: 24px;
}
.section-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}
.communication-location-on {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.address1 {
    width: 226px;
    position: relative;
    height: 25px;
}
.viplavsachan321gmailcom {
    position: absolute;
    top: 1px;
    left: 40px;
    line-height: 150%;
}
.email1 {
    width: 274px;
    position: relative;
    height: 25px;
}
.phone2 {
    width: 155px;
    position: relative;
    height: 25px;
}
.section-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
}
.section-03-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24.5px;
    height: 24px;
}
.section-03 {
    width: 24.5px;
    position: relative;
    height: 24px;
}
.footer {
    position: absolute;
    top: 1818px;
    left: calc(50% - 705px);
    width: 1588px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-31xl) 135px var(--padding-31xl) 0px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color);
}
.buy-now-page-child {
    position: absolute;
    top: 1821px;
    left: calc(50% - 676px);
    max-height: 100%;
    width: 1352px;
}
.form-child {
    position: absolute;
    top: 108.5px;
    left: calc(50% - 54.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-darkslategray-100);
    width: 310px;
    height: 76px;
}
.form-item {
    position: absolute;
    top: 0px;
    left: calc(50% - 54.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-darkslategray-100);
    width: 310px;
    height: 76px;
}
.classic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-17xl);
    letter-spacing: -0.02em;
    line-height: 140%;
    color: var(--color-orange);
}
.premium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-17xl);
    letter-spacing: -0.02em;
    line-height: 140%;
    color: var(--color-orange);
}
.form-inner {
    position: absolute;
    top: 217px;
    left: calc(50% - 54.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-darkslategray-100);
    width: 310px;
    height: 76px;
}
.rectangle-div {
    position: absolute;
    top: 322px;
    left: calc(50% - 97.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-whitesmoke);
    width: 396px;
    height: 76px;
}
.form-child1 {
    position: absolute;
    top: 431px;
    left: calc(50% - 97.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-whitesmoke);
    width: 396px;
    height: 76px;
}
.form-child2 {
    position: absolute;
    top: 539px;
    left: calc(50% - 97.5px);
    border-radius: var(--br-35xl);
    background-color: var(--color-whitesmoke);
    width: 396px;
    height: 146px;
}
.deluxe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-17xl);
    letter-spacing: -0.02em;
    line-height: 140%;
    color: var(--color-orange);
}
.ellipse-div {
    position: absolute;
    top: 20px;
    left: calc(50% - 115.5px);
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 30px;
    height: 30px;
}
.form-child3 {
    position: absolute;
    top: 131px;
    left: calc(50% - 115.5px);
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 30px;
    height: 30px;
}
.form-child4 {
    position: absolute;
    top: 240px;
    left: calc(50% - 115.5px);
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 30px;
    height: 30px;
}
.form-child5 {
    position: absolute;
    top: 28px;
    left: calc(50% - 107.5px);
    border-radius: 50%;
    background-color: var(--color-white);
    width: 14px;
    height: 14px;
}
.form-child6 {
    position: absolute;
    top: 139px;
    left: calc(50% - 107.5px);
    border-radius: 50%;
    background-color: var(--color-white);
    width: 14px;
    height: 14px;
}
.form-child7 {
    position: absolute;
    top: 248px;
    left: calc(50% - 107.5px);
    border-radius: 50%;
    background-color: var(--color-white);
    width: 14px;
    height: 14px;
}
.mobile {
    position: absolute;
    top: 342px;
    left: calc(50% - 235.5px);
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 500;
    white-space: pre-wrap;
}
.time {
    position: absolute;
    top: 451px;
    left: calc(50% - 316.5px);
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 500;
    white-space: pre-wrap;
}
.choose-plan {
    position: absolute;
    top: 18px;
    left: calc(50% - 298.5px);
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 500;
}
.address2 {
    position: absolute;
    top: 595px;
    left: calc(50% - 253.5px);
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 500;
    white-space: pre-wrap;
}
.form {
    position: absolute;
    top: 832px;
    left: calc(50% - 313px);
    width: 597px;
    height: 685px;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray-200);
}
.plans-pic-icon {
    position: absolute;
    width: 85.29%;
    top: 348px;
    right: 7.29%;
    left: 7.43%;
    max-width: 100%;
    overflow: hidden;
    height: 248px;
    object-fit: contain;
}
.buy-now-page {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 2120px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-darkslategray-100);
    font-family: var(--font-poppins);
}
}